atom-text-editor::shadow {
  .line:not(.cursor-line) {
    .fogged {
      display: inline-block;
      visibility: hidden;

      &:before {
        content: attr(data-fog-content);
        display: inline-block;
        visibility: visible;
        width: 0;
      }
    }
    .projector,
    .obj_arrow,
    .fun_arrow,
    .not_equal,
    .lt_equal,
    .gt_equal,
    .equal,
    .kw_in {
      margin-right: -0.6em;
    }
    .kw_all {
      margin-right: -1.2em;
    }
    .kw_true {
      margin-right: -1.8em;
    }
    .kw_false,
    .kw_where {
      margin-right: -2.4em;
    }
  }
}
